#colonna-principale {
  background-color: #202020;
}

#album-novita {
  background: radial-gradient(circle at right top, #222 20%, #000 80%);
}

#buonasera {
  letter-spacing: -1px;
}

#foto-album-piccole {
  border-radius: 7px 0px 0px 7px;
}

#btn-pages {
  background-color: #131313;
  border: none;
  color: grey;
}

#dropdown-central-page {
  background-color: #131313;
  border-radius: 60px;
}

#text-primary {
  font-size: 400%;
  font-weight: bold;
}

#btn-play-save {
  font-size: small;
  border-radius: 25px;
  padding: 10px 25px;
}

#tree-points {
  font-size: larger;
  color: grey;
}

#nascondi-annunci {
  color: grey;
  font-size: smaller;
  background-color: #222222;
  border-radius: 30px;
}

#box-playlist {
  background-color: #2c2c2c;
}

#card {
  background-color: #171717;
}

#foto-card {
  border-radius: 7px;
}
