body {
  background-color: #000;
  color: white;
  height: 0 auto;
  padding-bottom: 90px;
}

.player-wrapper {
  background-color: #181818;
  border-top: 1px solid #282828;
  padding: 10px 16px;
  z-index: 9999;
}

.icon-btn {
  color: #b3b3b3;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  background: none;
}
.icon-btn:hover,
.icon-btn.active {
  color: #1db954;
}

.progress-bar-custom {
  width: 100%;
  height: 4px;
  background-color: #535353;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: #fff;
  transition: background-color 0.2s;
}

.progress-bar-custom:hover .progress-fill {
  background-color: #1db954;
}

/* --- DESKTOP --- */
@media (min-width: 768px) {
  .player-wrapper {
    height: 90px;
  }
}

/* --- MOBILE --- */
@media (max-width: 767px) {
  .player-wrapper {
    z-index: 1001;
    bottom: 64px !important;
    justify-content: center;
    max-width: 95%;

    border-radius: 8px;
    background-color: #282828;
    border: none;
  }
  .track-info-mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
