.sidebar {
  position: fixed;
  background: #000;
  height: 100vh;
}
@media (min-width: 768px) {
  .sidebar {
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #000;
  }
}
.icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.sidebar-scroll {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.playlist-list {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  padding-right: 5px;
}

@media (max-width: 767px) {
  .sidebar {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
  }
}

.nav-link {
  color: #b3b3b3;
}

.nav-link.active,
.nav-link:hover {
  color: #fff;
}
