.main-content-scroll {
  height: 100vh;
  overflow-y: auto;
  background-color: #121212 !important;
}
.characteristics-card {
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: none;
}

.characteristics-card h3 {
  font-size: 1.2rem;
  padding: 15px;
  font-weight: bold;
  color: white;
}

.characteristics-card img {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -5px;
  right: -15px;
  transform: rotate(25deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
