/* SIDEBAR SINISTRA */
.sidebar {
  background-color: #000;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* LINK */
.sidebar a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 0.9rem;
}
.icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
ul li {
  list-style: none;
}

.sidebar a:hover,
.sidebar .nav-link.active {
  color: #fff;
}

/* AZIONI */
.sidebar-actions .sidebar-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

/* SCROLL SOLO PLAYLIST */
.sidebar-scroll {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;
}

/* scrollbar */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 3px;
}

/* MAIN */
#colonna-principale {
  background-color: #202020;
  min-height: 100vh;
}
